body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.red-color{
    color:rgb(218, 64, 8);
}section{ 
    display: flex;
    margin-bottom: 200px;
}
.half-width{
    width: 60%;
    padding-left:3%;
}
.half-width img{ 
    width:100%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato) ;
    padding: 10px 40px;
    border-radius: 5px;
    color:white;
    font-weight: 700;
}
.second-section{
    text-align: center;
}


    

